.dashboard-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.dashboard-container-1 {
  width: 60%;
  height: 30%;
}

.dashboard-container-1 {
  max-width: 500px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}
